/*FUENTES*/

@font-face {
    font-family: 'badfont';
    src: url('../font/badfont.otf') format('OpenType');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'socialmedia';
    src: url('../font/socialmedia.ttf') format('OpenType');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'nexabold';
    src: url('../font/nexabold.otf') format('OpenType');
    font-style: normal;
    font-weight: normal;
}



/************************************/

/*CUERPO*/

body {
    margin: 0;
    background-color: black;
}



/************************************/

/* VIDEO DE FONDO*/

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    opacity: 0.5;
}


/************************************/

/*NAVBAR*/

.uno {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;
}

nav img {
    width: 10%;
    float: left;
}

nav a {
    font-family: badfont;
    text-decoration: none;
    color: whitesmoke;
    padding-right: 5%;
    font-size: 25px;
    text-shadow: 10px 2px 8px black;
}

nav a:hover {
    color: rgba(245, 245, 245, 0.603);
}

nav li {
    display: inline;
}

nav ul.navlinks {
    width: 456px;

}

#imglogo{
    width: 500px;
}



/************************************/

/*NAV RESPONSIVE*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;

    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 23px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(to bottom,
            white, white 20%,
            rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 40%,
            white 40%, white 60%,
            rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%,
            white 80%, white 100%);
}

#sidebar-menu ul{
    display: grid;
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 200vw;
    background-color: rgba(0, 0, 0, 0.95);
    box-sizing: border-box;
    text-align: center;
}

#hamburger-menu p {
    color: white;
    font-size: 15vw;
}

#hamburger-menu ul {
    padding-left: 0px;
    padding-top: 10vw;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: white;
    font-size: 8vw;
    text-decoration: none;
    
    padding-right: 0px;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.4;
}


@media screen and (max-width: 768px) {
    #main-menu {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }
}




/************************************/

/*TEXTO XXXTENTACION TITULO*/

p {
    font-family: badfont;
    color: whitesmoke;
    font-size: 15vw;
    text-shadow: 10px 2px 8px black;
    margin: 0px;
}



/************************************/

/* Contenido Section */

section {
    background-color: rgba(0, 0, 0, .8);
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}

section h2 {
    font-family: nexabold;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    text-shadow: 10px 2px 8px black;
}

section h3 {
    font-family: nexabold;
    color: whitesmoke;
    text-align: center;
    text-shadow: 10px 2px 8px black;
}

section div {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.bg {
    background-image: url(../imagenes/tentacion.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.bg2 {
    background-image: url(../imagenes/xxxtentacion22.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 100px;
}

.textp {
    font-family: nexabold;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    text-shadow: 10px 2px 8px black;
}




/************************************/

/* SECTION discografia */

#discografiah2{
    font-family: nexabold;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    text-shadow: 10px 2px 8px black;
}

#discografiah3{
    font-family: nexabold;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    text-shadow: 10px 2px 8px black;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#discografiasc div{
    padding-left: 10%;
    padding-right: 10%;
}

.fallingdown{
    padding-bottom: 50px;
}



/************************************/

/* SECTION fotografia */

section.fotografiabg h1{
    font-family: nexabold;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    text-shadow: 10px 2px 8px black;
}

.container{
    margin: auto;
    width: 80%;
    padding: 30px;
  }

  .gridimages{
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
}

.imgsis{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/************************************/

/* SECTION familia */

.gridimages2{
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}


/************************************/

/* FOOTER */

footer {
    background-color: rgba(0,0,0,.8);
    padding-top: 20px;
    padding-bottom: 20px; 
    margin-top:auto;
    display: flex;
   }

footer ul{
    margin: 0 auto;
    padding-left: 0px;
}
footer li{
    float: left;
    list-style-type: none;
    padding-right: 10px;
}
  
footer a{
    font-family: socialmedia;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.instagram:hover{
    color:purple;
}
  
.twitter:hover{
    color:cyan;
}

.youtube:hover{
    color:red;
}

.soundcloud:hover{
    color:orange;
}




/************************************/

/* GRIDS */

#contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 100vh;
    grid-template-areas:
        "uno"
        "dos";
}

.uno {
    grid-area: uno;
    display: flex;
    position: fixed;
}

.dos {
    grid-area: dos;
    grid-row-start: 1;
}

.dos p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/************************************/

/* Responsive */

@media (max-width: 320px) {
    #contenedor-grid{
        grid-template-rows: 10vh 100vh;
    }
    .dos p {
        font-size: 20vw;
    }

    .textp {
        font-size: 4vw;
    }
    
    section h2{
        font-size: 20px;
    }
    
}

@media (max-width: 425px) {
    .dos p {
        font-size: 20vw;
    }
    nav img{
        width: 15%;
    }

    .textp {
        font-size: 3vw;
    }
    
    section h2{
        font-size: 20px;
    }
    #discografiah2{
        font-size: 7vw;
    }
    #discografiah3{
        font-size: 4vw;
    }
    .gridimages{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .gridimages2{
        grid-template-columns: repeat(1, 1fr);
    }
    #hamburger-menu{
        top: 20px;
        right: 28px;
        width: 33px;
        height: 32px;
    }
}

@media (min-width: 768px) {
    nav img{
        width: 15%;
    }
}

@media (max-width: 1024px) {
    nav img{
        width: 15%;
    }
    
}