@font-face {
    font-family: 'badfont';
    src: url('../font/badfont.otf') format('OpenType');
}

@font-face {
    font-family: 'socialmedia';
    src: url('../font/socialmedia.ttf') format('OpenType');
}

@font-face {
    font-family: 'nexabold';
    src: url('../font/nexabold.otf') format('OpenType');
}
